.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--tab-background), var(--background-color));
    animation: gradientBG 15s ease infinite;
    background-size: 400% 400%;
    font-family: Poppins, sans-serif;
  }
  

  
  .error-title {
    color: var(--color);
    margin-bottom: 1rem;
  }
  
  .error-message {
    color: var(--color);
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .retry-button {
    padding: 0.9rem 2rem;
    background-color: var(--accent1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .retry-button:hover {
    background-color: var(--accent2);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px var(--tab-background);
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }