.social_home_container{
    overflow: auto;
    height: calc(100vh - 70px);
}

.social_home_container::-webkit-scrollbar{
    width: 5px;
}

.social_home_container::-webkit-scrollbar-track{
    background-color: var(--tab-background);
    border-radius: 5px;
}

.social_home_container::-webkit-scrollbar-thumb{
    background-color: var(--accent1);
    border-radius: 5px;
}

.social_home_header_path_base{
    font-size: x-large;
    font-weight: bolder;
    font-family: "Space mono", sans-serif;
    color: var(--tab-background);
    cursor: pointer;
}

.social_home_header_path_current{
    font-size: x-large;
    font-weight: bolder;
    font-family: "Space mono", sans-serif;
    color: var(--accent1);
}

.social_home_header_right_tabs_view_switch_container{
    height: 30px;
    border: 0.5px solid var(--tab-background);
    padding: 0 5px;
}

.social_header_right_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.social_home_header_right_tabs_view_switch_container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.social_home_header_right_tabs_view_switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: 500;
    font-size: smaller;
}

.social_home_header_right_tabs_view_switch.gallery.active{
    background-color: #ffa03463;
}

.social_home_header_right_button{
    border: 0.5px solid var(--tab-background);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: smaller;
    padding: 0 5px;
    cursor: pointer;
}

.social_home_header_right_generate_idea_button{
    font-size: smaller;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    background: linear-gradient(to right, #00f800b7 10%, #f00000b7);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    transition: ease-in-out .275s;
}

.social_home_header_right_generate_idea_button:hover{
    filter: brightness(1.3);
}

.social_home_content_top_feature_cards{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    font-size: smaller;
}

.social_home_content_recent_posts_container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 5px 20px;
    font-size: smaller;
    width: auto;
}

.social_home_content_visualization_container{
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 5px 20px;
    gap: 10px;
}