

.dash_layout_container{
    background-color: #242424;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
    padding: 10px;
}

.dash_layout_container_2{
    flex: 1;
    height: 100%;
}