.chat_wizard_setup_home_restart{
    position: absolute;
    right: 30px;
    top: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: medium;
    background-color: var(--accent1);
    font-weight: bold;
    font-size: smaller;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    transition: scale .375s ease-in-out;
    z-index: 50;
}

.chat_wizard_setup_home_back_icon{
    position: absolute;
    right: 120px;
    top: 50px;
    width: 30px;
    height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: medium;
    background-color: var(--accent1);
    font-weight: bold;
    font-size: smaller;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    transition: scale .375s ease-in-out;
    z-index: 50;
}

.chat_wizard_setup_home_restart:hover{
    scale: 1.05;
}

.chat_wizard_setup_home_back_icon:hover{
    scale: 1.05;
}

.chat_wizard_setup_home_next{
    position: absolute;
    right: 30px;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--accent1);
    font-weight: bold;
    font-size: smaller;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: scale .375s ease-in-out;
}

.chat_wizard_setup_home_next:hover{
    scale: 1.05;
}


/* first */

.chat_wizard_setup_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    gap: 20px;

}

.chat_wizard_setup_home_text{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: var(--color);
}

.chat_wizard_setup_home_button{
    background-color: var(--accent1);
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    transition: filter ease-in-out .275s;
    font-family: Poppins, sans-serif;
    font-size: smaller;
}

.chat_wizard_setup_home_button:hover{
    filter: brightness(1.2);
}
/* second  */
.chat_wizard_setup_second{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 95vh;
}

.chat_wizard_setup_second_input_box{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.chat_wizard_setup_second_input_box_label{
    font-style: italic;
    font-family: Poppins, sans-serif;
    font-size: smaller;
    color: var(--color);
}

.chat_wizard_setup_second_input_box_field{
    padding: 5px 10px;
    width: 200px;
    border: 0.5px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: var(--fade-background-color);
    font-family: Poppins, sans-serif;
    color: var(--color);
    font-size: x-small;
}

.chat_wizard_setup_second_input_box_field::placeholder{
    color: var(--color);
    opacity: 0.3;
}

.chat_wizard_setup_second_notice{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--fade-background-color);
    color: red;
    padding: 0 20px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: x-small;
}

/* third */

.chat_wizard_setup_third{
    padding: 0 20px;
    overflow: auto;
    height: 95vh;
}

.chat_wizard_setup_third::-webkit-scrollbar{
    width: 0;
}

.chat_wizard_setup_third_header_container{
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    margin-bottom: 50px;
}

.chat_wizard_setup_third_header_text{
    font-weight: bold;
    font-size: larger;
    color: var(--color);
}
.chat_wizard_setup_third_header_text_second{
    font-weight: 400;
    font-size: x-small;
    color: var(--fade-background-color);
}

.chat_wizard_setup_third_logo_label{
    font-size: smaller;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: var(--color);
}

.chat_wizard_setup_third_logo_container{
    height: 110px;
    width: 100px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}

.chat_wizard_setup_third_logo{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.chat_wizard_setup_third_logo_add_sign{
    position: absolute;
    right: -4px;
    top: -4px;
    background-color: var(--color);
    color: var(--background-color);
    border-radius: 50%;
    font-size: larger;
    padding: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(255, 205, 135, 0.2);
}


.chat_wizard_setup_third_logo_add_file{
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    opacity: 0;
}

.chat_wizard_setup_third_logo_add_file::-webkit-file-upload-button{
    cursor: pointer;
}

.chat_wizard_setup_third_color_picker_container{
    margin-bottom: 40px;
}

.chat_wizard_setup_third_color_picker{
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.chat_wizard_setup_third_color_picked{
    font-size: x-small;
    font-family: Poppins, sans-serif;
    cursor: none;
    color: var(--color);
}

.chat_wizard_setup_third_welcome_message{
    min-height: 80px;
    width: 300px;
    border: 0.5px solid rgba(172, 255, 47, 0.637);
    background-color: var(--tab-background);
    border-radius: 5px;
    outline: none;
    font-size: smaller;
    color: var(--color);
    padding: 10px;
    margin-top: 5px;
}

.chat_wizard_setup_third_head_text_container{
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
    margin-top: 20px;
}

.chat_wizard_setup_third_suggested_messages_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.chat_wizard_setup_third_suggested_message{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chat_wizard_setup_third_suggested_message_input{
    border-radius: 5px;
    height: 25px;
    width: 150px;
    outline: none;
    border: 0.5px solid rgba(172, 255, 47, 0.596);
    padding: 0 10px;
    background-color: var(--tab-background);
    color: var(--color);
    font-family: Poppins, sans-serif;
    font-size: x-small;
    font-weight: 500;
}

.chat_wizard_setup_third_suggested_message_input::placeholder{
    font-style: italic;
}

.chat_wizard_setup_third_suggested_message_delete_icon{
    cursor: pointer;
}

.chat_wizard_setup_third_add_suggested_message{
    height: 30px;
    width: fit-content;
    background-color: var(--accent1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    padding: 0 10px;
    cursor: pointer;
}